*{
    box-sizing: border-box;
}
body{
    /*display: flexbox;
    justify-content: center;
    */



}
h1{
    margin-bottom: 15px;
    text-align: center;
}
p{
    border: 1px solid black;
    background-color: #c0c0c0;
    width: 90%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.row{
    width: 100%;
}

@media(min-width:1200px){
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
float: left;
border: 1px solid green;
}
.col-lg-1{
    width: 8.33%;
}
.col-lg-2{
    width: 16.66%;
}
.col-lg-3{
    width: 25%;
}
.col-lg-4{
    width: 41.66%;
}
.col-lg-5{
    width: 41.66%;
}
.col-lg-6{
    width: 50%;
}
.col-lg-7{
    width:58.33%
}
.col-lg-8{
    width: 66.66%;
}
.col-lg-9{
    width: 74.99%;
}
.col-lg-10{
    width:83.33%;
}
.col-lg-11{
    width: 91.66%;
}
.col-lg-12{
    width: 100;
}
}
@media (min-width: 950px) and (max-width:1199px){
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
    float: left;
    border: 1px solid black;
}
.col-md-1{
    width: 8.33%;
}
.col-md-2{
    width: 16.66%;
}
.col-md-3{
    width: 25%;
}
.col-md-4{
    width: 33%;
}
.col-md-5{
    width: 41.66%;
}
.col-md-6{
    width: 50%;
}
.col-md-7{
    width:58.33% ;
}
.col-md-8{
    width: 66.66%;
}
.col-md-9{
    width: 74.99%;
}
.col-md-10{
    width: 83.33%;
}
.col-md-11{
    width: 91.66%;
}
.col-md-12{
    width: 100%;
}
}
@media(min-width:950px) and (max-width:1199px){

}
/*.one{
    float: left;
}
.two{
    float:left;
}
.three{
    float:left;
}
*/












div.one p span.chiken{
    background-color: rgb(218, 136, 136);
    position: fixed;
    border: .5px solid black;
    margin-top: -20px;
    margin-left:722px;
    font-size: 20px;
    max-width: 90px;
}
span.beef{
    background-color:rgb(231, 52, 52);
    position: fixed;
    border: .5px solid black;
    margin-top: -20px;
    margin-left:743px;
    font-size: 20px;
    max-width: 90px;
}
div.three p span.shusi{
    background-color: rgb(235, 200, 103);
    position: fixed;
    border: .5px solid black;
    margin-top: -20px;
    margin-left:733px;
    font-size: 20px;
    max-width: 90px;
    
}
